* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: linear-gradient(to right, #eb5122, #E8D8C3);
}

.container {
    background-color: #1b1b1b;
    width: min(90%, 500px);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    padding: 4em 2em;
    border-radius: 0.5em;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    -o-border-radius: 0.5em;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

.section-container {
    display: flex;
    gap: 1em;
    justify-content: center;
}